@model IEnumerable<Login.Models.ServicePackage>
@section Styles {
    <link rel="stylesheet" href="~/css/services.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
}

<h1 class="mb-4 animate__animated animate__fadeInDown">Tất cả dịch vụ</h1>
<div class="row g-3">
@foreach (var service in Model)
{
    <div class="col-md-3 mb-3 animate__animated animate__fadeInUp">
        <div class="card h-100 d-flex flex-column">
            <img src="~/img/adn.png" class="card-img-top" alt="Ảnh dịch vụ" />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">@service.ServiceName</h5>
                <p class="card-text">@service.Description</p>
                <div class="d-flex justify-content-center mt-auto">
                    <a asp-action="Services" asp-controller="Home" asp-route-id="@service.ServicePackageId" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
}
</div>
